<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Suite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="UI + API Tests">

        <classes>
            <class name="ui.tests.E2ETest"/>
            <class name="ui.tests.CartTests"/>
        </classes>

    </test>

</suite>